.header {
  position: fixed;
  display: flex;
  gap: 2rem;
  background-color: #FAFAFA;
  padding: 1rem 0;
  width: 100vw;
  z-index: 2;
  top: 0;

  a {
    display: flex;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: black;

    svg {
      width: 15px;
      margin-right: 0.3rem;
    }

    p {
      font-weight: 600;
      font-size: 0.8rem;
      text-transform: uppercase;
    }

    &:hover {
      opacity: 1;
    }
  }
}